body {
  background-color: #171526;
  color: #F2D7B6;
  font-family: 'Urbanist', Arial, sans-serif;
  margin: 5% 5%;
}

header {
  background-image: url('https://images.squarespace-cdn.com/content/63af48113a5a821051cac717/0ed0252d-5323-4d35-a730-8ff45488be6d/banner_bg-5.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 80%;
  font-family: 'Phudu', cursive;
  text-align: center;
  color: #B7857B;
  padding: 1%;
}

footer {
background-color: #2E2640;
padding: 1%;
margin-top: 1%;
font-size: 1.5em;
}

a:link {
  font-family: 'Phudu', Trebuchet MS, sans-serif;
  text-align: center;
  color: #F2D7B6;
}

a:visited {
  font-family: 'Phudu', Trebuchet MS, sans-serif;
  text-align: center;
  color: #B7857B;
}

h2 {
  margin-top: 0;
  color: #AD8A90;
  font-family: 'Phudu', Trebuchet MS, sans-serif;
}

h3 {
  margin: 0;
  color: #B7857B;
  font-family: 'Phudu', Trebuchet MS, sans-serif;
}

h4 {
  margin: 0;
  color: #F2D7B6;
  font-family: 'Phudu', Trebuchet MS, sans-serif;
}

p {
  color: #F3E9DA;
}

small {
  color: #AD8A90;
  font-size: 0.7em;
}

.flex-container {
  padding-top: 1%;
  display: flex;
  flex-direction: row;
}

.flex-container .box-backdrop-title {
  background-color: #B7857B;
  width: 3%;
  padding: 2.5%;
  border-right: 1px solid #F2D7B6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-container #boxbackdrop {
  background-color: #2E2640;
  width: 44%;
  padding: 2.5%; 
  text-align: left;
}

.flex-container .box-workhistory-title {
  background-color: #B7857B;
  width: 3%;
  padding: 2.5%;
  border-right: 1px solid #F2D7B6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-container #boxworkhistory {
  background-color: #2E2640;
  width: 50%;
  margin-left: 5px;
  padding: 2.5%; 
  text-align: left;
}

.c {
  list-style-type: circle;
}

.material-icons {
}

.yearexperience {
  margin: 0;
  color: #AD8A90;
}

.year {
  margin-bottom: 0;
  color: #AD8A90;
}

.school {
  margin-top: 0;
}

.rotate-a {
    transform: rotate(-90deg);
    color: #2E2640;
}
